@charset "UTF-8";
/*
  
  Gridberg v2.1
  
  (\/) (°,,,°) (\/)
  
  Author - Jacob Dyck 
  
*/
/* Your Build: */
/* Set the Total Number of Columns in your Grid */
/* Set the 1st breakpoint in your Grid */
/* Set the 2nd breakpoint in your Grid */
/* Set the default Padding for your Columns */
/* Set a custom padding class for first breakpoint (col-f-lp, col-f-rp) */
/* Set a custom padding class for second breakpoint (col-t-lp, col-t-rp) */
/* CSS Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Global Grid Stuff */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 320px; }

.grid {
  margin-left: -10px;
  margin-right: -10px; }

.grid:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-left: 10px; }

[class*='col-'].kill-the-padding {
  padding-right: 0px;
  padding-left: 0px; }

/* Use Classes */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

/*Fullsize Columns*/
.col-12-12 {
  width: 100%; }

.col-11-12 {
  width: 91.66667%; }

.col-10-12 {
  width: 83.33333%; }

.col-9-12 {
  width: 75%; }

.col-8-12 {
  width: 66.66667%; }

.col-7-12 {
  width: 58.33333%; }

.col-6-12 {
  width: 50%; }

.col-5-12 {
  width: 41.66667%; }

.col-4-12 {
  width: 33.33333%; }

.col-3-12 {
  width: 25%; }

.col-2-12 {
  width: 16.66667%; }

.col-1-12 {
  width: 8.33333%; }

.col-0-12 {
  width: 0%; }

/* .col-f (Less than Full) */
@media handheld, only screen and (max-width: 1075px) {
  .col-f-12-12 {
    width: 100%; }
  .col-f-11-12 {
    width: 91.66667%; }
  .col-f-10-12 {
    width: 83.33333%; }
  .col-f-9-12 {
    width: 75%; }
  .col-f-8-12 {
    width: 66.66667%; }
  .col-f-7-12 {
    width: 58.33333%; }
  .col-f-6-12 {
    width: 50%; }
  .col-f-5-12 {
    width: 41.66667%; }
  .col-f-4-12 {
    width: 33.33333%; }
  .col-f-3-12 {
    width: 25%; }
  .col-f-2-12 {
    width: 16.66667%; }
  .col-f-1-12 {
    width: 8.33333%; }
  .col-f-0-12 {
    width: 0%; }
  [class*='col-'] {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px; }
  [class*='col-'].col-f-lp {
    padding-left: 10px; }
  [class*='col-'] .col-f-rp {
    padding-right: 10px; } }

/* .col-t (Less than Ipad) */
@media handheld, only screen and (max-width: 767px) {
  .col-t-12-12 {
    width: 100%; }
  .col-t-11-12 {
    width: 91.66667%; }
  .col-t-10-12 {
    width: 83.33333%; }
  .col-t-9-12 {
    width: 75%; }
  .col-t-8-12 {
    width: 66.66667%; }
  .col-t-7-12 {
    width: 58.33333%; }
  .col-t-6-12 {
    width: 50%; }
  .col-t-5-12 {
    width: 41.66667%; }
  .col-t-4-12 {
    width: 33.33333%; }
  .col-t-3-12 {
    width: 25%; }
  .col-t-2-12 {
    width: 16.66667%; }
  .col-t-1-12 {
    width: 8.33333%; }
  .col-t-0-12 {
    width: 0%; }
  [class*='col-'] {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px; }
  [class*='col-'].col-f-lp {
    padding-left: 0px; }
  [class*='col-'].col-f-rp {
    padding-right: 0px; }
  [class*='col-'].col-t-lp {
    padding-left: 10px; }
  [class*='col-'].col-t-rp {
    padding-right: 10px; } }

/* Your Build: */
/* Set the Total Number of Columns in your Grid */
/* Set the 1st breakpoint in your Grid */
/* Set the 2nd breakpoint in your Grid */
/* Set the default Padding for your Columns */
/* Set a custom padding class for first breakpoint (col-f-lp, col-f-rp) */
/* Set a custom padding class for second breakpoint (col-t-lp, col-t-rp) */
/* DO NOT EDIT ABOVE THIS LINE - Your config.scss variables are imported here.*/
/* Plugins */
/* Your Build: */
/* Set the Total Number of Columns in your Grid */
/* Set the 1st breakpoint in your Grid */
/* Set the 2nd breakpoint in your Grid */
/* Set the default Padding for your Columns */
/* Set a custom padding class for first breakpoint (col-f-lp, col-f-rp) */
/* Set a custom padding class for second breakpoint (col-t-lp, col-t-rp) */
/* DO NOT EDIT ABOVE THIS LINE - Your config.scss variables are imported here.*/
.faux-table {
  display: table;
  width: 100%; }
  .faux-table .faux-row {
    display: table-row;
    width: 100%; }
    .faux-table .faux-row .faux-cell {
      display: table-cell; }

/* * * * * * * * * * * * * * * * * * * * *\  
  CSShake :: Package
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake, .shake-little, .shake-slow, .shake-hard, .shake-horizontal, .shake-vertical, .shake-rotate, .shake-opacity, .shake-crazy, .shake-chunk {
  display: inline-block;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake:hover,
.shake-trigger:hover .shake, .shake-little:hover,
.shake-trigger:hover .shake-little, .shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-hard:hover,
.shake-trigger:hover .shake-hard, .shake-horizontal:hover,
.shake-trigger:hover .shake-horizontal, .shake-vertical:hover,
.shake-trigger:hover .shake-vertical, .shake-rotate:hover,
.shake-trigger:hover .shake-rotate, .shake-opacity:hover,
.shake-trigger:hover .shake-opacity, .shake-crazy:hover,
.shake-trigger:hover .shake-crazy, .shake-chunk:hover,
.shake-trigger:hover .shake-chunk {
  animation-play-state: running; }

@keyframes shake {
  2% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg); }
  4% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  6% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  8% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  10% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  12% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  14% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  16% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  18% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  20% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  22% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  24% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  26% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  28% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  30% {
    transform: translate(-0.5px, 2.5px) rotate(-0.5deg); }
  32% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  34% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  36% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  38% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  40% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  42% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  44% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  46% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg); }
  48% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  50% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  52% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  54% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  56% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
  58% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  60% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  62% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  64% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  66% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  68% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  70% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  72% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  74% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  76% {
    transform: translate(-1.5px, 1.5px) rotate(1.5deg); }
  78% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  80% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  82% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg); }
  84% {
    transform: translate(0.5px, 0.5px) rotate(1.5deg); }
  86% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  88% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  90% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  92% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  94% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  98% {
    transform: translate(2.5px, -1.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake:hover,
.shake-trigger:hover .shake, .shake.shake-freeze, .shake.shake-constant {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-little {
  2% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  4% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  16% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  18% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  26% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  38% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  46% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  60% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  62% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  66% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  72% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  78% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  80% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  84% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  92% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  96% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-little:hover,
.shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-slow {
  2% {
    transform: translate(-6px, 3px) rotate(2.5deg); }
  4% {
    transform: translate(3px, -5px) rotate(0.5deg); }
  6% {
    transform: translate(0px, 10px) rotate(1.5deg); }
  8% {
    transform: translate(-2px, 9px) rotate(1.5deg); }
  10% {
    transform: translate(-7px, 10px) rotate(0.5deg); }
  12% {
    transform: translate(-4px, 1px) rotate(-1.5deg); }
  14% {
    transform: translate(0px, -1px) rotate(3.5deg); }
  16% {
    transform: translate(-9px, -6px) rotate(-1.5deg); }
  18% {
    transform: translate(10px, -9px) rotate(-2.5deg); }
  20% {
    transform: translate(1px, 10px) rotate(2.5deg); }
  22% {
    transform: translate(0px, 4px) rotate(3.5deg); }
  24% {
    transform: translate(-7px, -1px) rotate(0.5deg); }
  26% {
    transform: translate(-7px, 9px) rotate(2.5deg); }
  28% {
    transform: translate(-1px, 5px) rotate(1.5deg); }
  30% {
    transform: translate(7px, 0px) rotate(2.5deg); }
  32% {
    transform: translate(-3px, -4px) rotate(1.5deg); }
  34% {
    transform: translate(-4px, 0px) rotate(-2.5deg); }
  36% {
    transform: translate(4px, 0px) rotate(3.5deg); }
  38% {
    transform: translate(5px, 6px) rotate(2.5deg); }
  40% {
    transform: translate(-7px, 0px) rotate(1.5deg); }
  42% {
    transform: translate(-2px, -4px) rotate(-2.5deg); }
  44% {
    transform: translate(-5px, -3px) rotate(-1.5deg); }
  46% {
    transform: translate(5px, 6px) rotate(0.5deg); }
  48% {
    transform: translate(-2px, -6px) rotate(-0.5deg); }
  50% {
    transform: translate(10px, 5px) rotate(-2.5deg); }
  52% {
    transform: translate(-4px, 3px) rotate(-2.5deg); }
  54% {
    transform: translate(-6px, 6px) rotate(2.5deg); }
  56% {
    transform: translate(-1px, 7px) rotate(-0.5deg); }
  58% {
    transform: translate(-3px, 9px) rotate(-0.5deg); }
  60% {
    transform: translate(7px, -9px) rotate(-0.5deg); }
  62% {
    transform: translate(-8px, 8px) rotate(0.5deg); }
  64% {
    transform: translate(8px, -6px) rotate(-1.5deg); }
  66% {
    transform: translate(1px, 0px) rotate(2.5deg); }
  68% {
    transform: translate(-7px, 0px) rotate(2.5deg); }
  70% {
    transform: translate(6px, -7px) rotate(2.5deg); }
  72% {
    transform: translate(0px, -4px) rotate(0.5deg); }
  74% {
    transform: translate(3px, 1px) rotate(3.5deg); }
  76% {
    transform: translate(-3px, 1px) rotate(-1.5deg); }
  78% {
    transform: translate(-4px, 2px) rotate(-0.5deg); }
  80% {
    transform: translate(-7px, -7px) rotate(-2.5deg); }
  82% {
    transform: translate(7px, 6px) rotate(1.5deg); }
  84% {
    transform: translate(-6px, 6px) rotate(-1.5deg); }
  86% {
    transform: translate(5px, 6px) rotate(-1.5deg); }
  88% {
    transform: translate(-1px, -7px) rotate(3.5deg); }
  90% {
    transform: translate(3px, 8px) rotate(-2.5deg); }
  92% {
    transform: translate(-7px, -5px) rotate(3.5deg); }
  94% {
    transform: translate(1px, -3px) rotate(-2.5deg); }
  96% {
    transform: translate(6px, 5px) rotate(-2.5deg); }
  98% {
    transform: translate(-5px, 4px) rotate(2.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-hard {
  2% {
    transform: translate(3px, 1px) rotate(3.5deg); }
  4% {
    transform: translate(5px, 3px) rotate(1.5deg); }
  6% {
    transform: translate(5px, -5px) rotate(-0.5deg); }
  8% {
    transform: translate(3px, -5px) rotate(2.5deg); }
  10% {
    transform: translate(-2px, 2px) rotate(1.5deg); }
  12% {
    transform: translate(0px, -9px) rotate(1.5deg); }
  14% {
    transform: translate(-1px, -8px) rotate(2.5deg); }
  16% {
    transform: translate(2px, -3px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 3px) rotate(-1.5deg); }
  20% {
    transform: translate(9px, -4px) rotate(0.5deg); }
  22% {
    transform: translate(1px, -8px) rotate(3.5deg); }
  24% {
    transform: translate(-1px, 6px) rotate(-2.5deg); }
  26% {
    transform: translate(-4px, 7px) rotate(-0.5deg); }
  28% {
    transform: translate(9px, -4px) rotate(2.5deg); }
  30% {
    transform: translate(9px, 5px) rotate(-0.5deg); }
  32% {
    transform: translate(5px, -1px) rotate(1.5deg); }
  34% {
    transform: translate(-3px, -2px) rotate(-2.5deg); }
  36% {
    transform: translate(6px, 1px) rotate(-1.5deg); }
  38% {
    transform: translate(-3px, 7px) rotate(2.5deg); }
  40% {
    transform: translate(10px, 5px) rotate(1.5deg); }
  42% {
    transform: translate(3px, 0px) rotate(2.5deg); }
  44% {
    transform: translate(-9px, -8px) rotate(-2.5deg); }
  46% {
    transform: translate(-5px, -7px) rotate(1.5deg); }
  48% {
    transform: translate(-2px, 5px) rotate(3.5deg); }
  50% {
    transform: translate(9px, -3px) rotate(-0.5deg); }
  52% {
    transform: translate(-4px, -8px) rotate(3.5deg); }
  54% {
    transform: translate(1px, -2px) rotate(2.5deg); }
  56% {
    transform: translate(6px, -6px) rotate(-1.5deg); }
  58% {
    transform: translate(-8px, 0px) rotate(2.5deg); }
  60% {
    transform: translate(-3px, -3px) rotate(-0.5deg); }
  62% {
    transform: translate(5px, -6px) rotate(3.5deg); }
  64% {
    transform: translate(-3px, 8px) rotate(0.5deg); }
  66% {
    transform: translate(-5px, 6px) rotate(-2.5deg); }
  68% {
    transform: translate(-1px, 2px) rotate(0.5deg); }
  70% {
    transform: translate(7px, -6px) rotate(-1.5deg); }
  72% {
    transform: translate(3px, -6px) rotate(1.5deg); }
  74% {
    transform: translate(2px, -9px) rotate(-0.5deg); }
  76% {
    transform: translate(6px, 4px) rotate(2.5deg); }
  78% {
    transform: translate(-3px, -2px) rotate(0.5deg); }
  80% {
    transform: translate(9px, -7px) rotate(3.5deg); }
  82% {
    transform: translate(2px, 7px) rotate(1.5deg); }
  84% {
    transform: translate(9px, 5px) rotate(1.5deg); }
  86% {
    transform: translate(7px, -1px) rotate(2.5deg); }
  88% {
    transform: translate(5px, -2px) rotate(0.5deg); }
  90% {
    transform: translate(-6px, 3px) rotate(1.5deg); }
  92% {
    transform: translate(7px, 2px) rotate(-0.5deg); }
  94% {
    transform: translate(-5px, -8px) rotate(1.5deg); }
  96% {
    transform: translate(4px, -7px) rotate(0.5deg); }
  98% {
    transform: translate(-8px, -8px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-hard:hover,
.shake-trigger:hover .shake-hard, .shake-hard.shake-freeze, .shake-hard.shake-constant {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-horizontal {
  2% {
    transform: translate(3px, 0) rotate(0); }
  4% {
    transform: translate(9px, 0) rotate(0); }
  6% {
    transform: translate(6px, 0) rotate(0); }
  8% {
    transform: translate(7px, 0) rotate(0); }
  10% {
    transform: translate(-3px, 0) rotate(0); }
  12% {
    transform: translate(1px, 0) rotate(0); }
  14% {
    transform: translate(7px, 0) rotate(0); }
  16% {
    transform: translate(-3px, 0) rotate(0); }
  18% {
    transform: translate(-7px, 0) rotate(0); }
  20% {
    transform: translate(0px, 0) rotate(0); }
  22% {
    transform: translate(4px, 0) rotate(0); }
  24% {
    transform: translate(-4px, 0) rotate(0); }
  26% {
    transform: translate(-7px, 0) rotate(0); }
  28% {
    transform: translate(4px, 0) rotate(0); }
  30% {
    transform: translate(-6px, 0) rotate(0); }
  32% {
    transform: translate(6px, 0) rotate(0); }
  34% {
    transform: translate(-9px, 0) rotate(0); }
  36% {
    transform: translate(8px, 0) rotate(0); }
  38% {
    transform: translate(0px, 0) rotate(0); }
  40% {
    transform: translate(10px, 0) rotate(0); }
  42% {
    transform: translate(-7px, 0) rotate(0); }
  44% {
    transform: translate(-6px, 0) rotate(0); }
  46% {
    transform: translate(8px, 0) rotate(0); }
  48% {
    transform: translate(1px, 0) rotate(0); }
  50% {
    transform: translate(5px, 0) rotate(0); }
  52% {
    transform: translate(1px, 0) rotate(0); }
  54% {
    transform: translate(4px, 0) rotate(0); }
  56% {
    transform: translate(-6px, 0) rotate(0); }
  58% {
    transform: translate(0px, 0) rotate(0); }
  60% {
    transform: translate(-8px, 0) rotate(0); }
  62% {
    transform: translate(7px, 0) rotate(0); }
  64% {
    transform: translate(-3px, 0) rotate(0); }
  66% {
    transform: translate(-8px, 0) rotate(0); }
  68% {
    transform: translate(-1px, 0) rotate(0); }
  70% {
    transform: translate(-4px, 0) rotate(0); }
  72% {
    transform: translate(1px, 0) rotate(0); }
  74% {
    transform: translate(9px, 0) rotate(0); }
  76% {
    transform: translate(-8px, 0) rotate(0); }
  78% {
    transform: translate(3px, 0) rotate(0); }
  80% {
    transform: translate(-5px, 0) rotate(0); }
  82% {
    transform: translate(-6px, 0) rotate(0); }
  84% {
    transform: translate(-5px, 0) rotate(0); }
  86% {
    transform: translate(7px, 0) rotate(0); }
  88% {
    transform: translate(-9px, 0) rotate(0); }
  90% {
    transform: translate(-3px, 0) rotate(0); }
  92% {
    transform: translate(-6px, 0) rotate(0); }
  94% {
    transform: translate(6px, 0) rotate(0); }
  96% {
    transform: translate(0px, 0) rotate(0); }
  98% {
    transform: translate(3px, 0) rotate(0); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-horizontal:hover,
.shake-trigger:hover .shake-horizontal, .shake-horizontal.shake-freeze, .shake-horizontal.shake-constant {
  animation-name: shake-horizontal;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-vertical {
  2% {
    transform: translate(0, 9px) rotate(0); }
  4% {
    transform: translate(0, -2px) rotate(0); }
  6% {
    transform: translate(0, 3px) rotate(0); }
  8% {
    transform: translate(0, 2px) rotate(0); }
  10% {
    transform: translate(0, -2px) rotate(0); }
  12% {
    transform: translate(0, 8px) rotate(0); }
  14% {
    transform: translate(0, 4px) rotate(0); }
  16% {
    transform: translate(0, -3px) rotate(0); }
  18% {
    transform: translate(0, 1px) rotate(0); }
  20% {
    transform: translate(0, -7px) rotate(0); }
  22% {
    transform: translate(0, 3px) rotate(0); }
  24% {
    transform: translate(0, -7px) rotate(0); }
  26% {
    transform: translate(0, 0px) rotate(0); }
  28% {
    transform: translate(0, 5px) rotate(0); }
  30% {
    transform: translate(0, -2px) rotate(0); }
  32% {
    transform: translate(0, -6px) rotate(0); }
  34% {
    transform: translate(0, -4px) rotate(0); }
  36% {
    transform: translate(0, 10px) rotate(0); }
  38% {
    transform: translate(0, -6px) rotate(0); }
  40% {
    transform: translate(0, -4px) rotate(0); }
  42% {
    transform: translate(0, -1px) rotate(0); }
  44% {
    transform: translate(0, -2px) rotate(0); }
  46% {
    transform: translate(0, -6px) rotate(0); }
  48% {
    transform: translate(0, 6px) rotate(0); }
  50% {
    transform: translate(0, -1px) rotate(0); }
  52% {
    transform: translate(0, 3px) rotate(0); }
  54% {
    transform: translate(0, 1px) rotate(0); }
  56% {
    transform: translate(0, -1px) rotate(0); }
  58% {
    transform: translate(0, -8px) rotate(0); }
  60% {
    transform: translate(0, -4px) rotate(0); }
  62% {
    transform: translate(0, -1px) rotate(0); }
  64% {
    transform: translate(0, 9px) rotate(0); }
  66% {
    transform: translate(0, 6px) rotate(0); }
  68% {
    transform: translate(0, -3px) rotate(0); }
  70% {
    transform: translate(0, -6px) rotate(0); }
  72% {
    transform: translate(0, -8px) rotate(0); }
  74% {
    transform: translate(0, -9px) rotate(0); }
  76% {
    transform: translate(0, -6px) rotate(0); }
  78% {
    transform: translate(0, -2px) rotate(0); }
  80% {
    transform: translate(0, -9px) rotate(0); }
  82% {
    transform: translate(0, 9px) rotate(0); }
  84% {
    transform: translate(0, 7px) rotate(0); }
  86% {
    transform: translate(0, -4px) rotate(0); }
  88% {
    transform: translate(0, 3px) rotate(0); }
  90% {
    transform: translate(0, -4px) rotate(0); }
  92% {
    transform: translate(0, 0px) rotate(0); }
  94% {
    transform: translate(0, -4px) rotate(0); }
  96% {
    transform: translate(0, 10px) rotate(0); }
  98% {
    transform: translate(0, -1px) rotate(0); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-vertical:hover,
.shake-trigger:hover .shake-vertical, .shake-vertical.shake-freeze, .shake-vertical.shake-constant {
  animation-name: shake-vertical;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-rotate {
  2% {
    transform: translate(0, 0) rotate(-2.5deg); }
  4% {
    transform: translate(0, 0) rotate(6.5deg); }
  6% {
    transform: translate(0, 0) rotate(-0.5deg); }
  8% {
    transform: translate(0, 0) rotate(3.5deg); }
  10% {
    transform: translate(0, 0) rotate(-3.5deg); }
  12% {
    transform: translate(0, 0) rotate(-6.5deg); }
  14% {
    transform: translate(0, 0) rotate(7.5deg); }
  16% {
    transform: translate(0, 0) rotate(-1.5deg); }
  18% {
    transform: translate(0, 0) rotate(-2.5deg); }
  20% {
    transform: translate(0, 0) rotate(2.5deg); }
  22% {
    transform: translate(0, 0) rotate(-4.5deg); }
  24% {
    transform: translate(0, 0) rotate(6.5deg); }
  26% {
    transform: translate(0, 0) rotate(-2.5deg); }
  28% {
    transform: translate(0, 0) rotate(3.5deg); }
  30% {
    transform: translate(0, 0) rotate(7.5deg); }
  32% {
    transform: translate(0, 0) rotate(7.5deg); }
  34% {
    transform: translate(0, 0) rotate(-0.5deg); }
  36% {
    transform: translate(0, 0) rotate(2.5deg); }
  38% {
    transform: translate(0, 0) rotate(-3.5deg); }
  40% {
    transform: translate(0, 0) rotate(-5.5deg); }
  42% {
    transform: translate(0, 0) rotate(2.5deg); }
  44% {
    transform: translate(0, 0) rotate(7.5deg); }
  46% {
    transform: translate(0, 0) rotate(5.5deg); }
  48% {
    transform: translate(0, 0) rotate(-3.5deg); }
  50% {
    transform: translate(0, 0) rotate(-0.5deg); }
  52% {
    transform: translate(0, 0) rotate(2.5deg); }
  54% {
    transform: translate(0, 0) rotate(4.5deg); }
  56% {
    transform: translate(0, 0) rotate(1.5deg); }
  58% {
    transform: translate(0, 0) rotate(1.5deg); }
  60% {
    transform: translate(0, 0) rotate(-2.5deg); }
  62% {
    transform: translate(0, 0) rotate(-6.5deg); }
  64% {
    transform: translate(0, 0) rotate(-6.5deg); }
  66% {
    transform: translate(0, 0) rotate(2.5deg); }
  68% {
    transform: translate(0, 0) rotate(6.5deg); }
  70% {
    transform: translate(0, 0) rotate(5.5deg); }
  72% {
    transform: translate(0, 0) rotate(6.5deg); }
  74% {
    transform: translate(0, 0) rotate(-4.5deg); }
  76% {
    transform: translate(0, 0) rotate(-1.5deg); }
  78% {
    transform: translate(0, 0) rotate(-1.5deg); }
  80% {
    transform: translate(0, 0) rotate(7.5deg); }
  82% {
    transform: translate(0, 0) rotate(4.5deg); }
  84% {
    transform: translate(0, 0) rotate(-0.5deg); }
  86% {
    transform: translate(0, 0) rotate(-1.5deg); }
  88% {
    transform: translate(0, 0) rotate(-0.5deg); }
  90% {
    transform: translate(0, 0) rotate(-6.5deg); }
  92% {
    transform: translate(0, 0) rotate(-0.5deg); }
  94% {
    transform: translate(0, 0) rotate(5.5deg); }
  96% {
    transform: translate(0, 0) rotate(-2.5deg); }
  98% {
    transform: translate(0, 0) rotate(-4.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-rotate:hover,
.shake-trigger:hover .shake-rotate, .shake-rotate.shake-freeze, .shake-rotate.shake-constant {
  animation-name: shake-rotate;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-opacity {
  10% {
    transform: translate(-3px, 1px) rotate(-1.5deg);
    opacity: 0.33; }
  20% {
    transform: translate(4px, 1px) rotate(-0.5deg);
    opacity: 0.68; }
  30% {
    transform: translate(0px, -2px) rotate(1.5deg);
    opacity: 0.96; }
  40% {
    transform: translate(-2px, 4px) rotate(0.5deg);
    opacity: 0.24; }
  50% {
    transform: translate(5px, 4px) rotate(2.5deg);
    opacity: 1; }
  60% {
    transform: translate(-1px, -4px) rotate(2.5deg);
    opacity: 0.47; }
  70% {
    transform: translate(1px, 1px) rotate(2.5deg);
    opacity: 0.94; }
  80% {
    transform: translate(2px, -1px) rotate(2.5deg);
    opacity: 0.9; }
  90% {
    transform: translate(-2px, -4px) rotate(-1.5deg);
    opacity: 0.58; }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-opacity:hover,
.shake-trigger:hover .shake-opacity, .shake-opacity.shake-freeze, .shake-opacity.shake-constant {
  animation-name: shake-opacity;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-crazy {
  10% {
    transform: translate(11px, 9px) rotate(4deg);
    opacity: 0.19; }
  20% {
    transform: translate(9px, -9px) rotate(0deg);
    opacity: 0.21; }
  30% {
    transform: translate(-16px, 12px) rotate(1deg);
    opacity: 0.39; }
  40% {
    transform: translate(-15px, 0px) rotate(-2deg);
    opacity: 0.11; }
  50% {
    transform: translate(-10px, 17px) rotate(3deg);
    opacity: 0.15; }
  60% {
    transform: translate(8px, -1px) rotate(6deg);
    opacity: 1; }
  70% {
    transform: translate(-18px, -9px) rotate(6deg);
    opacity: 0.16; }
  80% {
    transform: translate(-12px, 15px) rotate(8deg);
    opacity: 0.9; }
  90% {
    transform: translate(15px, -14px) rotate(-2deg);
    opacity: 0.36; }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-crazy:hover,
.shake-trigger:hover .shake-crazy, .shake-crazy.shake-freeze, .shake-crazy.shake-constant {
  animation-name: shake-crazy;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

@keyframes shake-chunk {
  2% {
    transform: translate(1px, -14px) rotate(-3deg); }
  4% {
    transform: translate(13px, 14px) rotate(-2deg); }
  6% {
    transform: translate(-5px, -3px) rotate(7deg); }
  8% {
    transform: translate(-7px, 15px) rotate(-4deg); }
  10% {
    transform: translate(-10px, -1px) rotate(-6deg); }
  12% {
    transform: translate(-8px, 2px) rotate(2deg); }
  14% {
    transform: translate(12px, 7px) rotate(7deg); }
  16% {
    transform: translate(10px, 5px) rotate(3deg); }
  18% {
    transform: translate(-12px, 10px) rotate(4deg); }
  20% {
    transform: translate(-5px, -1px) rotate(-10deg); }
  22% {
    transform: translate(15px, -12px) rotate(-11deg); }
  24% {
    transform: translate(6px, -10px) rotate(0deg); }
  26% {
    transform: translate(2px, 1px) rotate(2deg); }
  28% {
    transform: translate(-1px, 10px) rotate(2deg); }
  30% {
    transform: translate(4px, -3px) rotate(3deg); }
  32% {
    transform: translate(-9px, 6px) rotate(-14deg); }
  34% {
    transform: translate(-12px, -9px) rotate(-8deg); }
  36% {
    transform: translate(5px, 1px) rotate(7deg); }
  38% {
    transform: translate(10px, 5px) rotate(8deg); }
  0%, 40%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-chunk:hover,
.shake-trigger:hover .shake-chunk, .shake-chunk.shake-freeze, .shake-chunk.shake-constant {
  animation-name: shake-chunk;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

* {
  /* Remove outline */
  outline: none; }

/* Mixins */
/* Variables */
.disable-scrolling {
  overflow-y: hidden; }

#wrapper {
  width: 100%;
  overflow: hidden; }
  #wrapper:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

#trophy {
  position: fixed;
  bottom: 10%;
  width: 100%;
  display: none;
  z-index: 10000; }
  #trophy .trophy-wrapper {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 25%;
    border-radius: 100px;
    background-color: white;
    position: relative;
    overflow: hidden; }
    #trophy .trophy-wrapper:after {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
    #trophy .trophy-wrapper .trophy-icon {
      display: block;
      background-color: #ccc;
      width: 100px;
      float: left; }
      #trophy .trophy-wrapper .trophy-icon i {
        padding: 15px 15px;
        font-size: 72px;
        border-radius: 100px;
        color: #50aa00; }
    #trophy .trophy-wrapper .trophy-text {
      margin: 20px 0;
      display: block;
      font-family: 'Titillium Web', sans-serif; }
      #trophy .trophy-wrapper .trophy-text .trophy-header {
        display: block;
        font-size: 24px; }
      #trophy .trophy-wrapper .trophy-text .trophy-body {
        display: block;
        font-size: 16px; }

#trophy.award {
  -ms-transform: translate(50px, 100px);
  /* IE 9 */
  -webkit-transform: translate(50px, 100px);
  /* Safari */
  transform: translate(50px, 100px); }

.coin-floater {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  display: none;
  background: rgba(255, 255, 255, 0.6); }
  .coin-floater .coin-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 0px;
    perspective: 600px;
    top: 50%;
    margin-top: -100px;
    left: 0px; }
    .coin-floater .coin-container #coin {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 3s;
      transform-style: preserve-3d;
      border-radius: 50%;
      box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.5);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden; }
      .coin-floater .coin-container #coin.black-serves {
        transform: rotateY(1440deg); }
      .coin-floater .coin-container #coin.yellow-serves {
        transform: rotateY(1620deg); }
      .coin-floater .coin-container #coin figure {
        cursor: pointer;
        display: block;
        height: 100%;
        width: 100%;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        border-radius: 50%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 4px dashed white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 200%;
        text-transform: uppercase;
        padding: 63px 15px 10px 15px; }
        .coin-floater .coin-container #coin figure.tails {
          background: #c62828; }
        .coin-floater .coin-container #coin figure.heads {
          background: #004d86;
          transform: rotateY(180deg); }

.players {
  padding: 26px 10px 25px 10px;
  min-height: 100%; }

.player-tray-wrapper.right {
  margin-left: auto; }

.player-tray-wrapper .player-info {
  float: left; }

.player-tray-wrapper .player-buttons {
  min-width: 25px;
  min-height: 25px; }
  .player-tray-wrapper .player-buttons.left {
    float: left; }
  .player-tray-wrapper .player-buttons.right {
    float: right; }
  .player-tray-wrapper .player-buttons .challenge {
    display: none;
    background: #c40000;
    color: white;
    font-size: 87.5%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer; }

.player-tray-wrapper .position {
  color: white;
  font-size: 87.5%;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px; }
  .player-tray-wrapper .position.charcoal {
    color: #333; }

.player-tray {
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }

.player {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border: 4px solid #eee;
  margin: 0px;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0); }
  .player .label {
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0px;
    background: white;
    position: absolute;
    top: 58px;
    left: 0px;
    width: 100%;
    padding: 4px 15px 4px 15px; }

#game-info {
  z-index: 999;
  width: 124px;
  background: #eee;
  border-right: 4px solid #ccc;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin-left: -128px;
  visibility: hidden;
  transition: all 0.35s ease-in-out; }
  #game-info.open {
    margin-left: 0px;
    visibility: visible; }
  #game-info .game-info-inner {
    padding: 26px 10px 25px 10px;
    min-height: 100%; }
    #game-info .game-info-inner h5 {
      font-size: 87.5%;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 8px; }
    #game-info .game-info-inner #game_clock {
      font-size: 200%;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      background: #c40000;
      width: 100%;
      border: 0px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      padding: 7px 10px 10px 10px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 6px;
      margin-bottom: 8px; }
    #game-info .game-info-inner .score-tracks .score-track {
      width: 100%;
      margin-bottom: 8px; }
      #game-info .game-info-inner .score-tracks .score-track .score-track-inner {
        border-radius: 6px;
        padding: 10px 10px 5px 10px;
        color: white;
        background: #c62828; }
        #game-info .game-info-inner .score-tracks .score-track .score-track-inner.yellow {
          background: #004d86; }
        #game-info .game-info-inner .score-tracks .score-track .score-track-inner h4 {
          width: 100%;
          text-align: center;
          font-size: 93.75%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
        #game-info .game-info-inner .score-tracks .score-track .score-track-inner .score-value {
          width: 100%;
          text-align: center;
          font-size: 512.5%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
    #game-info .game-info-inner .goal-badge {
      border-radius: 6px;
      padding: 5px;
      margin-top: 10px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700; }
    #game-info .game-info-inner .goal-team-1 {
      color: white;
      background-color: #c62828; }
    #game-info .game-info-inner .goal-team-2 {
      color: white;
      background-color: #004d86; }

#momentum-wrapper {
  height: 0px;
  overflow: hidden;
  transition: all 0.35s;
  width: 100%; }
  #momentum-wrapper.open {
    height: 120px; }

#momentum {
  width: 100%;
  padding: 20px 0px 0px 0px;
  background: #ccc; }
  #momentum h5 {
    font-size: 87.5%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 20px; }
  #momentum .momentum-inner {
    width: 100%;
    height: 66px;
    position: relative;
    background: #aaa; }
    #momentum .momentum-inner .momentum-team-1 {
      position: absolute;
      top: 10px;
      left: 0%;
      width: 50%;
      height: 46px; }
      #momentum .momentum-inner .momentum-team-1 .momentum-team-1-fill {
        float: right;
        width: 0%;
        height: 100%;
        background: #c62828;
        transition: width 0.35s;
        border-radius: 23px 0px 0px 23px;
        position: relative;
        overflow: hidden; }
        #momentum .momentum-inner .momentum-team-1 .momentum-team-1-fill:before {
          content: " ";
          position: absolute;
          top: 4px;
          left: 4px;
          height: 38px;
          width: 38px;
          border-radius: 50%;
          background: #c40000; }
    #momentum .momentum-inner .momentum-team-2 {
      position: absolute;
      top: 10px;
      left: 50%;
      width: 50%;
      height: 46px; }
      #momentum .momentum-inner .momentum-team-2 .momentum-team-2-fill {
        float: left;
        width: 0%;
        height: 100%;
        background: #004d86;
        transition: width 0.35s;
        border-radius: 0px 23px 23px 0px;
        position: relative;
        overflow: hidden; }
        #momentum .momentum-inner .momentum-team-2 .momentum-team-2-fill:before {
          content: " ";
          position: absolute;
          top: 4px;
          right: 4px;
          height: 38px;
          width: 38px;
          border-radius: 50%;
          background: #c40000; }

#bench {
  width: 124px;
  background: #eee;
  border-right: 4px solid #ccc;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0px 0px 0px 0px; }
  #bench h5 {
    font-size: 87.5%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px; }

#field {
  width: 100%;
  height: 100%;
  padding-left: 124px; }
  #field .team-box {
    min-height: 50%;
    width: 100%;
    transition: height 0.35s; }
    #field .team-box .swap_positions {
      background-color: transparent;
      border: 0;
      display: none; }
    #field .team-box h2 {
      font-size: 162.5%;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 40px 20px 40px; }
      #field .team-box h2 .score-value {
        float: right;
        background: #c40000;
        border-radius: 3px;
        padding: 0px 10px 0px 10px; }
      #field .team-box h2 span.serving_team i {
        height: 1px;
        vertical-align: top;
        margin-top: 0px;
        margin-left: 6px;
        color: green; }
    #field .team-box .team {
      text-align: center;
      padding: 0px 0px 0px 0px; }
      #field .team-box .team:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
      #field .team-box .team .on-field {
        width: auto;
        margin: 0px auto; }
        #field .team-box .team .on-field:after {
          content: " ";
          visibility: hidden;
          display: block;
          height: 0;
          clear: both; }
      #field .team-box .team .position-wrapper {
        width: 100%;
        display: flex;
        padding: 20px 20px 10px 20px;
        overflow: hidden;
        min-height: 158px; }
        #field .team-box .team .position-wrapper:first-of-type {
          background-color: rgba(10, 10, 10, 0.1); }
      #field .team-box .team .bars {
        flex-grow: 1;
        padding: 0px 0px 0px 20px;
        display: none; }
        #field .team-box .team .bars.bars-3, #field .team-box .team .bars.bars-4 {
          padding: 0px 20px 0px 0px; }
        #field .team-box .team .bars .bar {
          display: flex;
          padding: 0px 15px 14px 15px;
          justify-content: center;
          position: relative;
          transition: all 0.35s;
          -webkit-transition: all 0.35s; }
          #field .team-box .team .bars .bar:before {
            content: " ";
            width: 100%;
            height: 16px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d3d3d3+50,f2f6f8+100&0+0,1+4,1+95,0+100 */
            background: -moz-linear-gradient(left, rgba(242, 246, 248, 0) 0%, #f0f3f5 4%, lightgray 50%, #eff3f4 95%, rgba(242, 246, 248, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(242, 246, 248, 0) 0%, #f0f3f5 4%, lightgray 50%, #eff3f4 95%, rgba(242, 246, 248, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(242, 246, 248, 0) 0%, #f0f3f5 4%, lightgray 50%, #eff3f4 95%, rgba(242, 246, 248, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f6f8', endColorstr='#00f2f6f8',GradientType=1 );
            /* IE6-9 */
            position: absolute;
            top: 50%;
            left: 0px;
            margin-top: -16px; }
          #field .team-box .team .bars .bar .man {
            display: block;
            flex-grow: 1;
            position: relative;
            background-size: 30px auto;
            background-position: center center;
            background-repeat: no-repeat; }
            #field .team-box .team .bars .bar .man .score-plus {
              font-size: 125%;
              font-family: 'Titillium Web', sans-serif;
              font-weight: 700;
              color: white;
              line-height: 2.0;
              background-color: gray;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              cursor: pointer;
              text-align: center;
              margin: 0px auto;
              border: 4px solid #333;
              transition: all 0.35s;
              -webkit-transition: all 0.35s;
              background-image: url("../../images/man-black.svg");
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 12px auto; }
              #field .team-box .team .bars .bar .man .score-plus.yellow {
                background-image: url("../../images/man-yellow.svg"); }
              #field .team-box .team .bars .bar .man .score-plus.goal {
                border: 4px solid #50aa00;
                background-color: #ddd;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 18px auto; }
      #field .team-box .team .player-tray {
        float: none;
        margin: 0px 5px 10px 5px;
        transition: all 0.35s; }
        #field .team-box .team .player-tray .player {
          overflow: visible; }
          #field .team-box .team .player-tray .player .label {
            top: auto;
            bottom: -10px; }
      #field .team-box .team .player-tray.gray {
        background: white; }
      #field .team-box .team .player-tray.active {
        background: #50aa00; }
      #field .team-box .team .score {
        width: 100%;
        padding: 0px 0px 0px 0px;
        max-width: 220px;
        margin: 0px auto;
        display: none; }
        #field .team-box .team .score h4 {
          font-size: 150%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          color: white; }
        #field .team-box .team .score .score-plus {
          font-size: 200%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          color: white;
          background: gray;
          float: left;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          cursor: pointer;
          text-align: center;
          margin-top: 16px; }
        #field .team-box .team .score .score-minus {
          font-size: 206.25%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          color: white;
          background: gray;
          float: right;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          cursor: pointer;
          text-align: center;
          margin-top: 16px; }
        #field .team-box .team .score .score-value {
          font-size: 575%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          color: white;
          margin: -10px auto 10px auto;
          display: inline-block; }
  #field #team-1 {
    background: #c62828; }
    #field #team-1 h2 {
      color: white;
      background: #c62828; }
  #field #team-2 {
    background: #004d86; }
    #field #team-2 h2 {
      color: white;
      background: #004d86; }

#game-config {
  width: 100%;
  background: #eee;
  display: flex;
  height: 120px;
  transition: all 0.35s;
  overflow: hidden; }
  #game-config:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  #game-config.closed {
    height: 0px; }
  #game-config .game-type {
    width: 25%;
    padding: 20px 20px 20px 40px; }
    #game-config .game-type h5 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 125%;
      margin-bottom: 20px;
      text-align: center; }
    #game-config .game-type .styled-select {
      position: relative;
      cursor: pointer; }
      #game-config .game-type .styled-select i {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 262.5%;
        color: #ccc;
        pointer-events: none; }
    #game-config .game-type select {
      line-height: 1;
      cursor: pointer;
      -webkit-appearance: none;
      width: 100%;
      padding: 8px 35px 8px 8px;
      outline: none;
      border: 3px solid #ccc;
      color: #333;
      border-radius: 3px;
      background: white;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 112.5%; }
      #game-config .game-type select .option {
        line-height: 1;
        width: 100%;
        padding: 8px;
        color: #333;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 112.5%; }
  #game-config .game-score-set {
    width: 25%;
    padding: 20px 40px 20px 20px; }
    #game-config .game-score-set h5 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 125%;
      margin-bottom: 20px;
      text-align: center; }
    #game-config .game-score-set input {
      line-height: 1;
      cursor: pointer;
      width: 100%;
      padding: 4px 8px 3px 8px;
      outline: none;
      border: 3px solid #ccc;
      color: #333;
      border-radius: 3px;
      background: white;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 112.5%; }
  #game-config #start_game {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 125%;
    width: 50%;
    padding: 20px 40px 20px 40px;
    background-color: #50aa00;
    color: white;
    text-align: center;
    cursor: pointer;
    display: flex;
    transition: background 0.35s; }
    #game-config #start_game span {
      align-self: center;
      display: block;
      text-align: center;
      width: 100%; }
    #game-config #start_game.active {
      background: #50aa00; }

#finish-match {
  transition: all 0.35s;
  position: fixed;
  bottom: 20px;
  right: -150px;
  border-radius: 10px; }
  #finish-match input {
    background: #c40000;
    width: 100%;
    -webkit-appearance: none;
    border: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 150%;
    padding: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border-radius: 6px; }

#finish-match.active {
  right: 20px; }

#match-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0px;
  left: 0px;
  display: none;
  padding: 0px 40px 0px 40px;
  z-index: 9999; }
  #match-modal .match-modal-inner {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 137.5%;
    color: #333;
    text-align: center;
    height: auto;
    line-height: 1.3;
    margin: 40px auto 40px auto;
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden; }
    #match-modal .match-modal-inner .match-modal-text {
      margin-bottom: 30px; }
      #match-modal .match-modal-inner .match-modal-text strong.table-heading {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        display: block; }
      #match-modal .match-modal-inner .match-modal-text .faux-table {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px; }
        #match-modal .match-modal-inner .match-modal-text .faux-table .faux-cell {
          text-transform: uppercase; }
          #match-modal .match-modal-inner .match-modal-text .faux-table .faux-cell strong {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 900; }
        #match-modal .match-modal-inner .match-modal-text .faux-table.teams-table .faux-cell {
          text-align: center; }
          #match-modal .match-modal-inner .match-modal-text .faux-table.teams-table .faux-cell p {
            margin: 0px auto;
            text-align: center; }
        #match-modal .match-modal-inner .match-modal-text .faux-table.teams-table .team-1 p {
          background: #c62828;
          border-radius: 50%;
          height: 37px;
          padding-top: 4px;
          width: 37px;
          color: white;
          margin: 0px auto; }
        #match-modal .match-modal-inner .match-modal-text .faux-table.teams-table .team-2 p {
          background: #004d86;
          border-radius: 50%;
          height: 37px;
          padding-top: 4px;
          width: 37px;
          color: white;
          margin: 0px auto; }
        #match-modal .match-modal-inner .match-modal-text .faux-table.box-score .faux-cell {
          font-size: 75%;
          vertical-align: middle;
          padding: 0px 5px 10px 5px; }
        #match-modal .match-modal-inner .match-modal-text .faux-table.box-score img {
          max-width: 100px;
          width: 50px;
          height: 50px;
          border-radius: 10px; }
          #match-modal .match-modal-inner .match-modal-text .faux-table.box-score img.team-1 {
            border: 4px solid #c62828; }
          #match-modal .match-modal-inner .match-modal-text .faux-table.box-score img.team-2 {
            border: 4px solid #004d86; }
        #match-modal .match-modal-inner .match-modal-text .faux-table.top-scorers .faux-cell {
          text-align: left; }
    #match-modal .match-modal-inner #new-match {
      margin-top: 30px;
      background: #50aa00;
      width: 100%;
      border: 0px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 150%;
      padding: 10px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 6px; }
    #match-modal .match-modal-inner #undo-win {
      margin-top: 30px;
      background: #c40000;
      width: 100%;
      border: 0px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 150%;
      padding: 10px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 6px; }

#match-modal.display {
  display: block; }

#alert-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0px;
  left: 0px;
  display: none;
  padding: 0px 40px 0px 40px;
  z-index: 9999; }
  #alert-modal .alert-modal-inner {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 137.5%;
    color: #333;
    text-align: center;
    height: auto;
    line-height: 1.3;
    margin: 40px auto 40px auto; }
    #alert-modal .alert-modal-inner .alert-modal-text {
      margin-bottom: 30px; }
    #alert-modal .alert-modal-inner #alert-thanks {
      margin-top: 30px;
      background: #50aa00;
      width: 100%;
      border: 0px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 93.75%;
      padding: 10px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 6px; }

#alert-modal.display {
  display: block; }

#player-error-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0px;
  left: 0px;
  display: none;
  padding: 0px 40px 0px 40px;
  z-index: 9999; }
  #player-error-modal .player-error-modal-inner {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 137.5%;
    color: #333;
    text-align: center;
    height: auto;
    line-height: 1.3;
    margin: 40px auto 40px auto; }
    #player-error-modal .player-error-modal-inner .player-error-modal-text {
      margin-bottom: 30px; }
    #player-error-modal .player-error-modal-inner #player-error-thanks {
      margin-top: 30px;
      background: #50aa00;
      width: 100%;
      border: 0px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 93.75%;
      padding: 10px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 6px; }

#player-error-modal.display {
  display: block; }

#confetti {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998; }

#updatePlayers {
  background: #50aa00;
  width: 100%;
  border: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 93.75%;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 6px; }

#statsButton {
  background: blue;
  width: 100%;
  border: 0px;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 93.75%;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 6px; }

@media handheld, only screen and (max-width: 1075px) {
  #game-config .game-type {
    width: 33.333%; }
  #game-config .game-score-set {
    width: 33.333%; }
  #game-config #start_game {
    width: 33.333%; }
  #trophy .trophy-wrapper {
    width: 75%; } }

@media handheld, only screen and (max-width: 767px) {
  .players {
    padding: 20px 5px 20px 5px;
    min-height: 100%; }
  .player-tray {
    height: 80px;
    width: 80px;
    padding: 5px;
    margin-bottom: 10px; }
  .player {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .player .label {
      position: absolute;
      top: 41px;
      left: 0px;
      padding: 4px 4px 4px 4px; }
  #game-info {
    width: 94px; }
    #game-info .game-info-inner {
      padding: 20px 5px 20px 5px; }
      #game-info .game-info-inner h5 {
        font-size: 87.5%;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #333;
        margin-bottom: 8px; }
      #game-info .game-info-inner #game_clock {
        font-size: 150%;
        padding: 5px 7px 7px 7px; }
      #game-info .game-info-inner .score-tracks .score-track .score-track-inner {
        border-radius: 6px;
        padding: 7px 7px 4px 7px; }
        #game-info .game-info-inner .score-tracks .score-track .score-track-inner h4 {
          font-size: 87.5%; }
        #game-info .game-info-inner .score-tracks .score-track .score-track-inner .score-value {
          font-size: 450%; }
  #bench {
    width: 94px;
    background: #eee;
    border-right: 4px solid #ccc;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 0px 0px 0px 0px; }
    #bench h5 {
      font-size: 87.5%;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 20px; }
  #field {
    padding-left: 94px;
    background-image: url("../../images/foosgrass.jpg");
    background-repeat: repeat;
    background-position: center; }
    #field .team-box h2 {
      font-size: 137.5%;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 20px 20px 20px; }
    #field .team-box .team {
      text-align: center;
      padding: 0px 0px 0px 0px; }
      #field .team-box .team:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
      #field .team-box .team .on-field {
        width: auto;
        padding-bottom: 20px; }
      #field .team-box .team .position-wrapper {
        display: block;
        padding: 20px 0px 20px 0px;
        min-height: 140px; }
      #field .team-box .team .player-tray-wrapper {
        width: 115px;
        margin: 0px auto;
        padding-bottom: 20px; }
      #field .team-box .team .player-tray {
        float: left;
        margin: 0px 5px 10px 5px;
        transition: all 0.35s; }
        #field .team-box .team .player-tray .player {
          overflow: visible; }
          #field .team-box .team .player-tray .player .label {
            top: auto;
            bottom: -10px; }
      #field .team-box .team .score {
        width: 100%;
        padding: 0px 0px 0px 0px;
        max-width: 160px;
        margin: 0px auto;
        display: none; }
        #field .team-box .team .score h4 {
          font-size: 112.5%;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 700;
          color: white;
          margin-bottom: 10px; }
        #field .team-box .team .score .score-plus {
          margin-top: -4px; }
        #field .team-box .team .score .score-minus {
          margin-top: -4px; }
        #field .team-box .team .score .score-value {
          font-size: 325%;
          margin: -10px auto 10px auto;
          display: inline-block; }
      #field .team-box .team .bars {
        margin-top: 0px;
        padding: 0px; }
        #field .team-box .team .bars.bars-3, #field .team-box .team .bars.bars-4 {
          padding: 0px 0px 0px 0px; }
        #field .team-box .team .bars .bar .man {
          display: block;
          flex-grow: 1;
          position: relative;
          background-size: 30px auto;
          background-position: center center;
          background-repeat: no-repeat; }
          #field .team-box .team .bars .bar .man .score-plus {
            height: 40px;
            width: 40px;
            line-height: 1.5;
            background-image: url("../../images/man-black.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 8px auto; }
            #field .team-box .team .bars .bar .man .score-plus.yellow {
              background-image: url("../../images/man-yellow.svg"); }
            #field .team-box .team .bars .bar .man .score-plus.goal {
              border: 4px solid #50aa00;
              background-color: #ddd;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 12px auto; }
    #field #team-2 {
      padding-bottom: 50px; }
  #game-config {
    display: block;
    height: 252px; }
    #game-config .game-type {
      width: 100%;
      padding: 20px 20px 0px 20px; }
      #game-config .game-type h5 {
        margin-bottom: 10px;
        font-size: 112.5%; }
      #game-config .game-type .styled-select i {
        font-size: 250%; }
      #game-config .game-type select {
        font-size: 100%; }
        #game-config .game-type select .option {
          font-size: 100%; }
    #game-config .game-score-set {
      width: 100%;
      padding: 20px; }
      #game-config .game-score-set h5 {
        margin-bottom: 10px;
        font-size: 112.5%; }
    #game-config #start_game {
      width: 100%;
      padding: 20px;
      font-size: 112.5%; }
  #finish-match {
    transition: all 0.35s;
    position: fixed;
    bottom: 20px;
    right: -150px; }
    #finish-match input {
      background: #c40000;
      width: 100%;
      -webkit-appearance: none;
      border: 0px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 125%;
      padding: 8px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 6px; }
  #finish-match.active {
    right: 20px; }
  #match-modal {
    padding: 0px 20px 0px 20px; }
    #match-modal .match-modal-inner {
      padding: 20px;
      font-size: 112.5%;
      margin: 20px auto 20px auto; }
      #match-modal .match-modal-inner #new-match {
        font-size: 125%; } }

#setPlayers {
  margin-top: 15px;
  background: #2196F3;
  width: 100%;
  border: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 93.75%;
  padding: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 6px; }

#playersPresent {
  display: none;
  /* Default to let the toggle work */
  height: 0;
  -webkit-box-shadow: inset 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  padding: 12px 18px; }
  #playersPresent .present-players-inner {
    display: block;
    width: 100%; }

#playersPresent.toggle {
  display: flex;
  height: 120px; }
